 
* {
  box-sizing: border-box;
}

 h1 {
     color: #b52540;
    margin-left: 40px;  
    font-family: "Sofia";
    font-size: 50px;
      text-shadow: 3px 3px 3px #ababab;
  }


  q {
    color : #33b0dd;
  } 

  body {
    background-color: rgb(245, 227, 233);
    text-justify:auto;
    margin-bottom: 25px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsGvsK3Au60Jv9mK5d-QkR9Py3Oxj_KS7t4p5QzntSnvLCr0sLlD5JBMcSISBZzjf56Ng&usqp=CAU");
    background-color: #fffdfd;
    background-size: cover;
    background-position: center;
    
  } 

  q {
    text-align: center;
    font-size: 1rem;
    font-family: Georgia;
    margin: 20px;
    text-justify:auto;
    
    font-size: 25px;
    line-height: 50px;
}

label {
    text-align: center;
    font-size: 1rem;
    font-family: Georgia;
    margin: 30px;
    
}

.container { 
    text-align: center;
    display: list-item;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-justify:auto;
    }

div {
    text-align: center;
    height: 100%;
    width : 100%; 
      }

  .c1 {
        width: 30%;
        padding: 8px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }


    #weight {
        width: 30%;
        padding: 10px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      #b {
        width: 10%;
        padding: 8px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

  .btn {
    width: 20%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }




  /* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -10px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: #20B2AA;
}

#blog {
  top: 80px;
  background-color: rgb(240, 128, 128) /* Blue */
}

#projects {
  top: 140px;
  background-color: #C9C0BB; /* Red */
}

#contact {
  top: 200px;
  background-color: #ffa94c /* Light Black */
}


* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #f7e8e3;
  float: left;
  width: 70%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #d7ad9d;
  color: white;
  font-size: 17px;
  
  border-left: none;
  cursor: pointer;
}

form.example button.clear {
  clear: both;
}

form.example button:hover {
  background: #9579d1 ;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.card {
  
  padding: 20px;
  margin-top: 20px;
} 