p {
    border: 2px solid rgb(255, 255, 255);
    margin: 50px;
  }

  /* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -10px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: #20B2AA;
}

#blog {
  top: 80px;
  background-color: rgb(240, 128, 128) /* Blue */
}

#projects {
  top: 140px;
  background-color: #C9C0BB; /* Red */
}

#contact {
  top: 200px;
  background-color: #ffa94c /* Light Black */
}

h2 {
  color : #e55c01;
}


h1 {   
  color: #ee82c1 ;
  margin-left: 100px;  
  font-family: "Sofia";
  font-size: 80px;
    text-shadow: 3px 3px 3px #ffdcdc;
    padding: 30px;
}

.container { 
  max-width: 250px;
	height: 100px;
  float: right;
}


body {
    background-color: rgb(245, 227, 233);
    text-justify:auto;
    margin-bottom: 25px;
    background-image: url("https://images3.alphacoders.com/970/970431.jpg");
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
    
  } 