h1 {
    
  color: #b52540;
  margin-left: 40px;  
  font-family: "Sofia";
  font-size: 50px;
    text-shadow: 3px 3px 3px #ababab;
}

h2 {
  color : #018abd;
}




article {
    min-height: 50%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    display: flex;
    justify-content: center;
     color: #74250e;
   

}

#p1 {text-align: center;
    justify-content: auto;
    display: block;}


a[href^="mailto"]::before {
  text-align: center;
    content: "📧 ";
}

a[href^="tel"]::before {
  text-align: center;
    content: "📞 ";
} 

html { 
  text-align: center;
}


body {
    background-color: rgb(245, 227, 233);
    text-justify:auto;
    margin-bottom: 10px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsGvsK3Au60Jv9mK5d-QkR9Py3Oxj_KS7t4p5QzntSnvLCr0sLlD5JBMcSISBZzjf56Ng&usqp=CAU");
    background-size: cover;
    background-position: center;
    
  } 

img{ 
  border-radius: 8px;
}


.container{ 
  float: left ;
  box-sizing: border-box;
} 

.container { 
  max-width: 500px;
	height: 100px;
  float: right;
}


  /* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -30px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 10px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #about {
    top: 20px;
    background-color: #20B2AA;
  }
  
  #blog {
    top: 80px;
    background-color: rgb(240, 128, 128) /* Blue */
  }
  
  #projects {
    top: 140px;
    background-color: #C9C0BB; /* Red */
  }
  
  #contact {
    top: 200px;
    background-color: rgb(9, 231, 39) /* Light Black */
  }
  


  /* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  border-radius: 8px;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;

}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  
}

/* Instagram */
.fa-instagram {
  background: #c91d73;
  color: white;
}


li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
