body {font-family: Arial, Helvetica, serif;}

html { 
  text-align: center;
}


form {
  font-family: Arial;
}

.container {
  padding: 30px; 
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
  cursor: pointer;
}



/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -10px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  
  #about {
    top: 20px;
    background-color: #20B2AA;
  }
  
  #blog {
    top: 80px;
    background-color: rgb(240, 128, 128) /* Blue */
  }
  
  #projects {
    top: 140px;
    background-color: #C9C0BB; /* Red */
  }
  
  #contact {
    top: 200px;
    background-color: #ffa94c /* Light Black */
  }


  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  body {
    background-color: rgb(245, 227, 233);
    text-justify:auto;
    margin-bottom: 25px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsGvsK3Au60Jv9mK5d-QkR9Py3Oxj_KS7t4p5QzntSnvLCr0sLlD5JBMcSISBZzjf56Ng&usqp=CAU");
    background-color: #fffdfd;
    background-size: cover;
    background-position: center;   
  } 

  .btn {
    width: 20%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #e04386;
    border-radius: 8px;
    box-sizing: border-box;
  }
  .btn:hover {
    background-color: #e04386;
    color: white;
  }

  h1 {
    color: #b52540;
    margin-left: 40px;  
    font-family: "Sofia";
    font-size: 50px;
    text-shadow: 3px 3px 3px #ababab;
  }
 
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color:#c33124;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 15px;
  background-color:#ffeefc;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #ffeefc;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ffeefc;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #b33572;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color:#0d878d;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1.5;
}